:root {
  --fire: #f05030;
  --water: #3899f8;
  --steel: #a8a8c0;
  --bug: #a8b820;
  --drake: #7860e0;
  --electric: #f8d030;
  --ghost: #6060b0;
  --fairy: #e79fe7;
  --ice: #58c8e0;
  --fight: #a05038;
  --normal: #a8a090;
  --grass: #78c850;
  --psych: #f870a0;
  --rock: #b8a058;
  --dark: #7a5848;
  --ground: #e9d6a4;
  --poison: #b058a0;
  --fly: #98a8f0;
}
